
.bg{

    width:100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-container{
    
    padding:50px 60px;
    margin-top:20vh;
    -webkit-box-shadow: -1px 4px 26px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 12px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 12px rgba(0,0,0,0.75);

}

h1{
    text-align: center;
    font-size: 200%;
}
