#return
{
    position:fixed;
    bottom:0%;
    left:0%;
    width:25%;
    font-size:2vw;


}


h2{
    text-align:center;
}
.big
{
    font-weight:bold;
}
#moreinfotable
{
    margin:0 auto;
    width:50%;
}